body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(180, 117, 143, 0.76);

}

#calcutator {
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(250, 206, 214);
border-radius: 15px;
max-width: 500px;
overflow: hidden;
}

#display {
   width: 100%;
   padding: 20px;
   font-size: 5rem; 
   text-align: left;
   border: none;
   background-color:rgb(245, 151, 167);
}


#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#last-row {
    display: grid;
    grid-template-columns: 25% 25% 50%;
gap: 10px;
padding: 25px;
padding-top: 0;
}


button {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50px;
    background-color: rgb(226, 151, 164);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
box-shadow: 5px 5px 5px rgba(180, 117, 143, 0.76);
}
button:hover {
    background-color: rgb(226, 123, 140);
}
button:active {
    background-color: rgb(247, 104, 128);

}

.operator-btn {
    background-color:rgb(238, 96, 120);
}
.operator-btn:hover {
    background-color:rgb(233, 60, 89);

}

.operator-btn:active {
    background-color:rgb(252, 26, 64);
}

.equal-sign {
    background-color:rgb(238, 96, 120);
   width: 4.5em;
}